* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f4f9;
}

body, button, input {
	font-family: sans-serif;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
}

ul, li {
	list-style: none;
}

.container {
	width: 900px;
	max-width: 90%;
	margin: 0 auto;
}