.checkbox.checked {
  animation: test 400ms ease;
}

#checkbox-btn {
  display: block;
  background-color: transparent;
  font-family: monospace;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

@keyframes test {
  0% {
    background-color: inherit;
  }

  50% {
    background-color: var(--grey-darker);
    background-image: url(/check.svg) !important;

  }

  100% {
    background-color: inherit;
  }
}