thead tr {
  background-color: var(--grey-lighter);
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px -4px rgba(0,0,0, .3);
}

thead tr th {
  font-weight: 500;
  padding: 15px 0;
  text-align-last: left;
}

.table-header th:first-of-type, .table-header th:last-of-type {
  width: 60px;
}

.table-header th:nth-of-type(4), .table-header th:nth-of-type(2) {
  width: 110px;
}