.iconButton {
	background-color: transparent;
	display: block;
	border: none;
}

.iconButton svg {
	width: 28px;
	height: 28px;
	transition: fill 300ms ease;
	fill: rgba(0, 0, 0, .5);
}

.iconButton svg:hover {
	fill: rgba(0, 0, 0, .8);
}